<h1>You chose Rock!</h1>
<p>Computer chose: <%= @computer_choice %></p>
<h2><%= @result %></h2>
<a href="/">Home</a><br>
<a href="/rock">Play Rock</a><br>
<a href="/paper">Play Paper</a><br>
<a href="/scissors">Play Scissors</a>
